[submodule "PSELDNet/PSELDNets"]
	path = PSELDNet/PSELDNets
	url = https://github.com/Jinbo-Hu/PSELDNets
[submodule "SELD-Data-Generator"]
	path = SELD-Data-Generator
	url = https://github.com/Noosdoo/SELD-Data-Generator.git
[submodule "SpatialScaper"]
	path = SpatialScaper
	url = https://github.com/Noosdoo/SpatialScaper.git
